<app-navbar></app-navbar>

<div class="a2">
    <!-- <h5 style="text-align: center;padding-top: px; text-decoration: underline; color:black; font-family: 'Times New Roman', Times, serif;" >CONTACT ME</h5> -->
    <div style="height: 300px;">
        <p
            style="color: aliceblue;font-size: 40px;margin-left: 590px; padding-top: 80px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            CONTACT ME</p>
        <br>
        <br>
        <div class="row  ">
            <div class="col-md-6 ">
                <div class="container">
                    <div class="card "
                        style="height: 350px;margin-left: 40px;width: 640px; color:white;background-color: #031C32; ">
                        <h2 style="font-size: 20px;text-align: center;text-decoration: underline;padding-top: 0px    ;"
                            class="a3">Details</h2>
                        <br>

                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-address-card-o  a4"
                                    style="padding-left: 40px;font-size: 40px; color: skyblue; " aria-hidden="true"></i>

                            </div>
                            <div class="col-md-6">
                                <p class="a3"
                                    style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    Name : Rahul</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-envelope a4 " aria-hidden="true"
                                    style="padding-left: 40px;font-size: 35px;color: skyblue; " aria-hidden="true"></i>

                            </div>
                            <div class="col-md-8">
                                <p class="a3"
                                    style="font-size:22px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    E-mail : rahulvenkadesan5829@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-map-marker a4 "
                                    style="padding-left: 40px;font-size: 40px;color: skyblue; " aria-hidden="true"></i>

                            </div>
                            <div class="col-md-6">
                                <p class="a3"
                                    style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    Location : Coimbatore</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-phone-square a4 "
                                    style="padding-left: 40px;font-size: 40px;color: skyblue; " aria-hidden="true"></i>

                            </div>
                            <div class="col-md-6">
                                <p class="a3"
                                    style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    Mobile : 9087205495</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ----first card----------->


            <div class="col-md-6">
                <div class="container">
                    <div class="w3-card a1" style="height: 350px;width: 640px; margin-left: 30px; ">
                        <div class="row">
                            <div class="col-md-6">
                                <div><input style="margin-left: 30px;margin-top: 30px;height: 50px; width: 230px; "
                                        placeholder="FIRST NAME"></div>
                            </div>
                            <div class="col-md-6">
                                <input style="margin-top: 30px; height: 50px; width: 230px;" placeholder="SUBJECT">
                            </div>
                        </div>
                        <div class="row">
                            <input style="width: 70px; margin-top: 30px;margin-left: 45px;height: 50px; width: 535px;"
                                placeholder="E-MAIL">

                        </div>
                        <div class="row">
                            <input style="width: 70px; margin-top: 30px;margin-left: 45px;height: 70px; width: 535px;"
                                placeholder="MESSAGE">

                        </div>
                        <button type="button" class="btn btn-primary"
                            style="width: 470px; margin-top: 20px; margin-left: 60px; ">sent</button>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>