<div class="social-icons s1 ">
  
  <a class="social-icon social-icon--twitter">
    <i class="fa fa-twitter"></i>
    <div class="tooltip">Twitter</div>
  </a>
  <a class="social-icon social-icon--whatsapp">
    <i class="fa fa-whatsapp"></i>
    <div class="tooltip">whatsapp</div>
  </a>
  <a class="social-icon social-icon--instagram">
    <i class="fa fa-instagram"></i>
    <div class="tooltip">Instagram</div> 
  </a>
  <a class="social-icon social-icon--linkedin">
    <i class="fa fa-linkedin"></i> 
    <div class="tooltip">LinkedIn</div>
  </a>
  <a class="social-icon social-icon--facebook">
    <i class="fa fa-facebook"></i>
    <div class="tooltip">Facebook</div>
  </a>
  <div class="buttons">

    <button class="btn-hover color-9  q2 " (click)="downloadPdf()">SEE MY
      RESUME</button>

  </div>

</div>