<app-navbar></app-navbar>
<div class="c1" id="pro2" >
<h1 class="h1 w3-animate-zoom  " >  MY PROJECT</h1>
<div style="margin-left: 10px;" class="w3-animate-zoom"  >
<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        
        <h3 style="color: brown;font-size: 40px;" >CALCULATOR</h3>
        <p></p>
        <p>Designed an user interface using HTML, CSS And bootstrap ,Event binding in typescipt to make functions.</p>
        <a routerLink="/cal">VIEW ME</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">

        <h3 style="color: brown;font-size: 40px;" >Ecommerce</h3>
        <p>created a navbar, products,
          products details and cart using API in Angular,
          make fuction in typescript .</p>
        <a href="http://16.171.197.188/">VIEW ME</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <h3 style="color: brown;font-size: 30px;" >reactive form</h3>
        <p>In reactive form using directives
          in this form using all validation and 
          requirements in DOM & TS Element.</p>
        <a routerLink="/reactive">VIEW ME</a> 
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        
        <h3 style="color: brown;font-size: 30px;" >Template Form</h3>
        <p>In template form using directives  
          In this form using al validation and
          Requirements in DOM Element .</p>
        <a routerLink="/temp">VIEW ME</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <h3 style="color: brown;font-size: 30px;" >API Work(post)</h3>
        <p>make API to work with login information
          to another Element.
        To make information pass through Api</p>
        <a routerLink="/post">VIEW ME</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        
        <h3 style="color: brown;font-size: 30px;" >API work (get)</h3>
        <p>make API to work with login information
          to another Element.
        To make information pass through Api</p>
        <a routerLink="/get">VIEW ME</a>
      </div>
    </div>
  </div>

</div></div> </div>